{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
<section class="featured-collection row">
  {% if section.settings.title != blank %}
    <h2 class="featured-collection__title">{{ section.settings.title | escape }}</h2>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}

  {% for product in collection.products limit: 6 %}
    <div class="col-md-4 product-card">
    <a href="{{ product.url | within: collection }}" class="featured-collection-item">
      {% if product.featured_image != blank %}
        <div class="featured-collection__image">
          {% include 'responsive-image' with
            image: product.featured_image,
            max_width: 480,
            max_height: 480
          %}
        </div>
      {% endif %}

      <p class="product-title">{{ product.title | escape | truncate: 50 }}
      <span class="price">
        {% if product.compare_at_price > product.price %}
          {% if product.price_varies %}
            {%- assign sale_price = product.price | money_without_trailing_zeros -%}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
            {{ 'products.product.on_sale' | t }}
            {{ product.price | money_without_trailing_zeros }}
          {% endif %}
        {% else %}
          {% if product.price_varies %}
            {%- assign price = product.price | money_without_trailing_zeros -%}
            {{ 'products.product.from_text_html' | t: price: price }}
          {% else %}
            {{ product.price | money_without_trailing_zeros }}
          {% endif %}
        {% endif %}
      </span></p>
    </a>
    <span class="add-to-cart"><a href="#" class="btn btn-fasco btn-lg"> <i class="fa fa-shopping-cart"></i> Add To Cart</a></span>
  </div>

 
  {% endfor %}
  
</section>
    
{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
