<ul class="payment-icons">
  {% if section.settings.image_1 %}
  <li><img src="{{ section.settings.image_1.src }}" alt="payment-icon-1"/></li>
  {% endif %}
  {% if section.settings.image_2 %}
  <li><img src="{{ section.settings.image_2.src }}" alt="payment-icon-2"/></li>
  {% endif %}
  {% if section.settings.image_3 %}
  <li><img src="{{ section.settings.image_3.src }}" alt="payment-icon-3"/></li>
  {% endif %}
  {% if section.settings.image_4 %}
  <li><img src="{{ section.settings.image_4s.src }}" alt="payment-icon-4"/></li>
  {% endif %}
  {% if section.settings.image_5 %}
  <li><img src="{{ section.settings.image_5.src }}" alt="payment-icon-5"/></li>
  {% endif %}
</ul>
<footer>

  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  <ul>
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

      {% if settings[social_link] != blank %}
        <li>
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>





  <div>
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [

     {
     "type" : "image_picker",
      "label":"Payment Icon 1",
      "id": "image_1"
    },
    {
      "type" : "image_picker",
       "label":"Payment Icon 2",
       "id": "image_2"
     } ,{
      "type" : "image_picker",
       "label":"Payment Icon 3",
       "id": "image_3"
     },
     {
      "type" : "image_picker",
       "label":"Payment Icon 4",
       "id": "image_4"
     },
     {
      "type" : "image_picker",
       "label":"Payment Icon 5",
       "id": "image_5"
     }

    ]
  }

{% endschema %}
