{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
  {%- if section.settings.announcement_bar_enabled -%}
    <div class="upper-head">
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        {%- if section.settings.announcement_bar_link != blank -%}
          <a href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_text | escape }}
          </a>
        {%- else -%}
          <p>{{ section.settings.announcement_bar_text | escape }}</p>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  <header role="banner">

  

    
{% comment %}
    <form action="/search" method="get" role="search">
      <label for="Search-{{ section.id }}" class="label-hidden">
        {{ 'general.search.placeholder' | t }}
      </label>

      <input type="search"
        name="q"
        id="Search-{{ section.id }}"
        value="{{ search.terms | escape }}"
        placeholder="{{ 'general.search.placeholder' | t }}">

      <button type="submit" class="button">
        {% include 'icon-search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
    </form>
    {% endcomment %}
    <nav class="navbar navbar-expand-sm bg-light" role="navigation">
      <div class="justify-content-left">    {% if template.name == 'index' %}
        <h1>
      {% else %}
        <div class="h1">
      {% endif %}
          <a href="/" class="brand">
            {% if section.settings.logo != blank %}
              {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
              <img src="{{ section.settings.logo | img_url: image_size }}"
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  alt="{{ section.settings.logo.alt | default: shop.name }}">
            {% else %}
              {{ shop.name }}
            {% endif %}
          </a>
      {% if template.name == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}
    </div> 
    <div class="justify-content-right menu-right menu-part">
      <a  type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
        {%comment%}  {% include 'icon-cart' %} {% endcomment %}
           <span class="fa fa-shopping-cart"></span>
           <span class='badge badge-warning' id='lblCartCount'><span class="cartcount"> {{ cart.item_count }} </span></span>
           
        </a>
  
    <button class="navbar-toggle collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-x">
      <span class="icon-bar top-bar "></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
  </div>
    <div id="navbar-collapse-x" class="collapse navbar-collapse">
   
      <ul class="navbar-nav justify-content-right menu-right">  {% for link in linklists[section.settings.menu].links %}
          {% if link.links != blank %}
            <li class="nav-item dropdown">
             <div class="arrow-cont"> <a class="nav-link dropbtn"  href="{{ link.url }}" >
                {{ link.title }}
              
              </a> <span onclick="toggle_class_drop(this);" class="mob-arrow"><i class="fa fa-arrow-down"></i></span></div>
              <ul class="dropdown-content">
                {% for childlink in link.links %}
                  <li class="nav-item ">
                    <a class="nav-link" href="{{ childlink.url }}">
                      {{ childlink.title }}
                    </a>
                  </li>
                {% endfor %} 
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        {% if shop.customer_accounts_enabled %}
        
            {% if customer %}
              <li class="nav-item">
                {% if customer.first_name != blank %}
                  {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                  {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                {% else %}
                  <a class="nav-link" href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {{ 'layout.customer.log_out' | t | customer_logout_link }}
              </li>
            {% else %}
              <li class="nav-item">
                {{ 'layout.customer.log_in' | t | customer_login_link }}
              </li>
              <li class="nav-item">
                {{ 'layout.customer.create_account' | t | customer_register_link }}
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </ul>
    </div>

   
  
      
    </nav>
  
    <div class="offcanvas offcanvas-end" id="demo">
      <div class="offcanvas-header">
        <h1>{{ 'cart.general.title' | t }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        {% if cart.item_count > 0 %}
      
        
          <form id="cart-form" action="/cart" method="post" novalidate>
            <table class="responsive-table cart-items">
              <thead class="small--hide">
                <tr>
                  <th colspan="2">{{ 'cart.label.product' | t }}</th>
                  <th>{{ 'cart.label.price' | t }}</th>
                  <th>{{ 'cart.label.quantity' | t }}</th>
                  <th>{{ 'cart.label.total' | t }}</th>
                  
                </tr>
              </thead>
              <tbody>
        
                {% for item in cart.items %}
        
                {% comment %}
        
                Cart Item Template
                =====================
                The data-label attributes on <td> elements are mobile-friendly
                helpers used for responsive-table labels
                {% endcomment %}
        
                  <tr class="responsive-table-row item-cart">
        
                    <td class="cart-p-image" data-label="{{ 'customer.order.product' | t }}">
        
                      {% if item.image != blank %}
                        <a href="{{ item.url | within: collections.all }}">
                          {{ item | img_url: '240x240' | img_tag: item.title }}
                        </a>
                      {% endif %}
        
                    </td>
                    <td>
                  
        
                      {%- assign property_size = item.properties | size -%}
        
                      {% if property_size > 0 %}
                        {% for p in item.properties %}
                          {% unless p.last == blank %}
                          {{ p.first }}:
        
                          {% if p.last contains '/uploads/' %}
                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                          {% else %}
                            {{ p.last }}
                          {% endif %}
        
                          {% endunless %}
                        {% endfor %}
                      {% endif %}
        
                    
                    </td>
                    <td data-label="{{ 'cart.label.price' | t }}">
                      {% if item.original_line_price != item.line_price %}
                        <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                        {{ item.price | money_without_trailing_zeros }}
                        <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                        <s>{{ item.original_price | money_without_trailing_zeros }}</s>
                      {% else %}
                        {{ item.price | money_without_trailing_zeros }}
                      {% endif %}
                    </td>
                    <td data-label="{{ 'cart.label.quantity' | t }}" class="q-container">
                      <span class="red _q" onclick="rem_q('{{ item.id }}',{{ item.quantity }})"> -</span> <span class="qn">
                      {{ item.quantity }}
                      </span>
                    <!--  <input type="number"
                             name="updates[]"
                             onchange="update_quantity('{{ item.id }}',this.value)"
                             class="form-control quantity"
                             id="updates_{{ item.key }}"
                             value="{{ item.quantity }}"
                             min="0"
                             aria-label="{{ 'cart.general.item_quantity' | t }}"> -->
                      <span class="add _q" onclick="add_q('{{ item.id }}',{{ item.quantity }})">+</span>
                    </td>
                    <td data-label="{{ 'cart.label.total' | t }}">
                      {{ item.line_price | money_without_trailing_zeros }}
                    </td>
                 
                 
                  </tr>
                
                {% endfor %}
              </tbody>
            </table>
        
            {% if settings.cart_notes_enable %}
              <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="form-control" id="CartSpecialInstructions">{{ cart.note }}</textarea>
            {% endif %}
        
            <p>{{ 'cart.general.subtotal' | t }}</p>
            <p>{{ cart.total_price | money_without_trailing_zeros }}</p>
            {% if cart.total_discounts > 0 %}
              <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money_without_trailing_zeros }}</p>
            {% endif %}
            <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
          
            <input type="submit" name="checkout" class="btn btn-default btn-lg" value="{{ 'cart.general.checkout' | t }}">
          </form>
        {% else %}
          <h1>{{ 'cart.general.title' | t }}</h1>
        
          {% comment %}
          Cart empty state
          {% endcomment %}
          <div class="supports-cookies">
            <p>{{ 'cart.general.empty' | t }}</p>
            <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
          </div>
        
          {% comment %}
          Cart no cookies state
          ---------------------
          Browser cookies are required to use the cart. If cookies aren't enabled in the
          browser a message is displayed prompting the user to enable them.
          {% endcomment %}
          <div class="supports-no-cookies">
            <p>{{ 'cart.general.cookies_required' | t }}</p>
          </div>
        {% endif %}
        
      </div>
    </div>
    
    
 




  </header>

</section>
<script>
  function add_q(id,q){
     var qu = q+1;
   
  update_quantity(id,qu);
  }
  function rem_q(id,q){
    var qu = q-1;
  
 update_quantity(id,qu);
 }
 function toggle_class_drop(elem){
if(elem.children[0].classList.contains("fa-arrow-down")){
 
  elem.children[0].classList.toggle("fa-arrow-up");
  elem.children[0].classList.toggle("fa-arrow-down");
 elem.parentElement.parentElement.getElementsByClassName("dropdown-content")[0].style="display:block";
    
}else{
  elem.children[0].classList.toggle("fa-arrow-down");
  elem.children[0].classList.toggle("fa-arrow-up");
  elem.parentElement.parentElement.getElementsByClassName("dropdown-content")[0].style="display:none";
}
}
</script>

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
