

<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css'>
<section data-section-id="{{ section.id }}" data-section-type="product">
 <a class="back-btn" href="{{ product.collections.first.url }}"><i class="fa fa-arrow-left"></i> Back to {{ product.collections.first.title }} </a>
  <div class="row"> 
 
{% if product.images.size > 1 %}
   <div class="col-md-6">
    <section class="section slider__section">
      <div class="container slider__wrapper">
         <div class="slider__column splide">
            <div class="splide__track">
               <ul class="splide__list">
                {% for image in product.images %}
                  <li class="splide__slide"><img src="{{ image.src | img_url: "400x" }}" alt="Slider"></li>
                {% endfor %}
                </ul>
            </div>
         </div>
      </div>
   </section>

  
 
   </div>
  {% else %}
    <img src="{{ product.images.first.src }}">
  {% endif %}

<div  class="col-md-6">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}



  <h1>{{ product.title }}</h1>
  <p>{{ product.vendor }}</p>


  {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        <div class="js">

          {% if forloop.index0 > 0 %}
            <label for="Option{{ option.position }}">
              {{ option.name }}
            </label>
             <select id="Option{{ option.position }}" class="form-control">
            {% for value in option.values %}
              <option  id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}">
              {{ value }}</option>
            {% endfor %}
          </select>
          {% else %}

            <label for="Option{{ option.position }}">
              {{ option.name }}
            </label>

            <select
              id="Option{{ option.position }}"
              name="options[{{ option.name | escape }}]" class="form-control">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>

          {% endif %}
        </div>
      {% endfor %}
    
    {% endunless %}

    <noscript>
      <select name="id" class="form-control">
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>
    </noscript>

    <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="form-control">

    <div data-price-wrapper>
      <span data-product-price>
        {{ current_variant.price | money_without_trailing_zeros }}
      </span>

      {% if product.compare_at_price_max > product.price %}
        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
        <s data-compare-price>
          {% if current_variant.compare_at_price > current_variant.price %}
            {{ current_variant.compare_at_price | money }}
          {% endif %}
        </s>
      {% endif %}
    </div>

    <a href="#" onclick="prepare_to_cart();"
      
      name="add"
      class="btn btn-fasco"
      data-submit-button
      {% unless current_variant.available %}disabled="disabled"{% endunless %}>
        <span data-submit-button-text>
          {% if current_variant.available %}
            {{ 'products.product.add_to_cart' | t }}
          {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
      </a>


{% endform %}
<script>
  function prepare_to_cart(){
  var quantity = document.getElementById("Quantity").value;
  var item_id ="";

  if(document.getElementById("Option1")){
    var option1 = document.getElementById("Option1").value;
  }
  if(document.getElementById("Option2")){
    var option2 = document.getElementById("Option2").value;
  }
  if(document.getElementById("Option3")){
    var option3 = document.getElementById("Option3").value;
  }
  $.getJSON('/products/{{product.handle}}.json', function(data) {
    
    var farray = data.product.variants;
    if(option1){
    farray = farray.filter( (v)=>{
    return v.option1 == option1;
    });
   
  }
  if(option2){
    farray = farray.filter( (v)=>{
    return v.option2 == option2;
    });
   
  }

  if(option3){
    farray = farray.filter( (v)=>{
    return v.option3 == option3;
    });
   
  }
  item_id  = farray[0].id;
  item_id = item_id.toString();
  add_to_cart(item_id,quantity);

});

  }
</script>




  <div class="rte">
    {{ product.description }}
  </div>

  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}
</div></div>
</section>
<script src='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  const splide = new Splide(".splide", {
    // Optional parameters
    start: 1,
    perPage: 1.5,
    perMove: 1,
    gap: 20,
    type: "loop",
    drag: "free",
    snap: false,
    interval: 3000,
    arrows: true,
    pagination: true,
    rewind: true,
    rewindByDrag: true,
    lazyLoad: true,
  
    // Responsive breakpoint
    breakpoints: {
      768: {
        perPage: 1,
        snap: true } } });
  
  
  
  
  splide.mount();
    
  $.post("https://megadata.cloud/upsell/get_rule.php",
  {
    id: '{{ product.id }}',
  },
  function(data, status){
    if(status == "success"){
    //alert("Data: " + data);   

    var all_products = data;
      all_products.split(",");
      $.getJSON('/products.json', function(data) {
var parray = data.products;
      parray = parray.filter((p)=>{
        p.id == data[0]      });
    });

      }});
</script>
{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
