{% paginate collection.products by 12 %}
  <header role="banner">
    <h1 class="section-title">{{ collection.title }}</h1>
    {% if collection.description != blank %}
      <div class="rte">
        {{ collection.description }}
      </div>
    {% endif %}
  </header>
    <div class="row">
       <div class="col-md-2">
  
  <form>
    <h3 >Filters</h3>
    {%- for filter in collection.filters -%}
      <details>
        <summary>
          <div>
            <span>{{ filter.label }}</span>
  
            {%- if filter.active_values.size > 0 -%}
              <span>({{ filter.active_values.size }})</span>
            {%- endif -%}
          </div>
        </summary>
  
        <div class="filter">
          <div>
            <p>{{ filter.active_values.size }} selected</p>
            {%- if filter.active_values.size > 0 -%}
              <p><a href="{{ filter.url_to_remove }}">Reset</a></p>
            {%- endif -%}
          </div>
          {%- case filter.type -%}
            {%- when 'boolean' -%}
              <ul>
                  <li>
                    <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}">
                    <input type="checkbox"
                      name="{{ filter.param_name }}"
                      value="{{ filter.true_value.value }}"
                      id="Filter-{{ filter.param_name }}"
                      {% if filter.true_value.active -%}checked{%- endif %}
                      {% if filter.true_value.count == 0 and filter.true_value.active == false -%}disabled{%- endif -%}
                    >{{ filter.true_value.label }}</label>
                  </li>
                  <li>
                    <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}">
                    <input type="checkbox"
                      name="{{ filter.param_name }}"
                      value="{{ filter.false_value.value }}"
                      id="Filter-{{ filter.param_name }}"
                      {% if filter.false_value.active -%}checked{%- endif %}
                      {% if filter.false_value.count == 0 and filter.false_value.active == false -%}disabled{%- endif %}
                    >{{ filter.false_value.label }}</label>
                  </li>
              </ul>
  
              <div>
                <input type="submit" class="btn btn-fasco" value="Apply">
              </div>
            {%- when 'list' -%} 
         
              <ul>
                {%- for filter_value in filter.values -%}
                  
         



                      
                      
                        {%- case filter_value.param_name -%}
                        
                          {%- when 'filter.v.t.shopify.color-pattern' -%}
                            <li class="color-box{{ forloop.index }}">
                              <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                              <input type="checkbox"
                                
                                style="accent-color:{{ filter_value.label }};width:30px;height:30px;display:inline-flex;"
                                name="{{ filter_value.param_name }}"
                                value="{{ filter_value.value }}"
                                id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                {% if filter_value.active -%}checked{%- endif %}
                                {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                              >
          <style>
            .color-box{{ forloop.index }} input::before {
              background: {{ filter_value.label }};
              content: '';
              display:block;
              width:30px;
            }
            .color-box{{ forloop.index }} input:checked:before {
           width:0px;
            }
          
          </style>
                            {% liquid
                              assign size_limit = filter_value.display.value.size | at_most: 4
                              assign rotation = '0deg'
                              if size_limit == 2
                                assign rotation = '45deg'
                              endif
  
                              assign angle_increment = 360 | divided_by: size_limit
                              assign angle = 0
                            %}
                            {%- capture conic_gradient -%}
                              {%- for color in filter_value.display.value limit: size_limit -%}
                                {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                              {%- endfor -%}
                            {%- endcapture -%}
                            
                            <span style="
                              width: 25px;
                              height: 25px;
                              border-radius: 50%;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                            "></span>
                          {%- when 'image' -%}
                            {{
                              filter_value.display.value
                              | image_url: width: 25
                              | image_tag: alt: filter_value.display.value.alt
                            }}
                          {%- else -%}
                            <li >
                              <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                                <span class="fval">{{ filter_value.value }}</span>
                              <input type="checkbox"
                                
                                style="width:20px;height:20px;"
                                name="{{ filter_value.param_name }}"
                                value="{{ filter_value.value }}"
                                id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                {% if filter_value.active -%}checked{%- endif %}
                                {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                              >
                              </li>
                        {%- endcase -%}
                      </span>
                 
                    </label>
                    
                  </li>
                {%- endfor -%}
              </ul>
  
              <div>
                <input type="submit" class="btn btn-fasco" value="Apply">
              </div>
            {%- when 'price_range' -%}
              <div class="filter-group-display__price-range">
                <div class="filter-group-display__price-range-from">
                  <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                  <input name="{{ filter.min_value.param_name }}"
                    id="Filter-{{ filter.min_value.param_name }}"
                    {% if filter.min_value.value -%}
                      value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                    {% else %}
                      value="0"
                    {%- endif %}
                    type="range"
                    placeholder="0"
                    onchange="display_price('min',this)"
                    min="0"
                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  >
             <label class="price-min">{{ 0 | money_without_currency | replace: ',', ''| replace: '.00' }}</label>
                 
                </div>
                <div class="filter-group-display__price-range-to">
                  <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                  <input name="{{ filter.max_value.param_name }}"
                    id="Filter-{{ filter.max_value.param_name }}"
                    {% if filter.max_value.value -%}
                      value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                    {% else %}
                       value="{{ filter.range_max| money_without_currency | replace: ',', '' }}"
                    {%- endif %}
                    type="range"
                    placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    min="0"
                     onchange="display_price('max',this)"
                     
                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  >
  
                  <label class="price-max">{{ filter.range_max | money_without_currency | replace: ',', '' | replace: '.00', ''  }}</label>
                </div>
              </div>
  
              <div class="filter-group-display__submit">
                <input type="submit" class="btn btn-fasco" value="Apply">
              </div>
          {%- endcase -%}
        </div>
      </details>
    {%- endfor -%}
  
    <div style="margin:10px;">
      <p><a class="clear-all-btn" href="{{ collection.url }}?sort_by={{ collection.sort_by }}">Clear all <i class="fa fa-trash"></i></a></p>
  
      {%- for filter in collection.filters -%}
        {%- if filter.type == "price_range" -%}
          {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
            <p>
              <a href="{{ filter.url_to_remove }}">
                {%- assign min_value = filter.min_value.value | default: 0 -%}
                {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                {{ min_value | money }} - {{ max_value | money }} X
              </a>
            </p>
          {%- endif -%}
        {%- else -%}
          {%- for filter_value in filter.active_values -%}
            <p>
              <a href="{{ filter_value.url_to_remove }}">
                {{ filter.label }}: {{ filter_value.label }} X
              </a>
            </p>
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </form>






  </div>
 
<div class="col-md-10">
  <div class="row">
    {% for product in collection.products %}
      <div class="col-md-4 product-item">
        {% if product.featured_image != blank %}
          <a href="{{ product.url | within: collection }}">
          <img class="product-image" alt="product-image" src="{{ product.featured_image.src | img_url: "400x" }}">
          </a>
        {% endif %}

        <p>
          <a href="{{ product.url | within: collection }}">{{ product.title | truncate: 50 | upcase }}</a>
        </p>
        <p>
          {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}

          {% else %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}

          {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ product.compare_at_price | money }}</s>
          {% endif %}

          {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
          {% endunless %}
        </p>
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>
</div>
</div>
  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}

<script>
function display_price(type,ele){
  if(type == "min"){
    document.getElementsByClassName("price-min")[0].innerHTML=ele.value;
  }else{
    document.getElementsByClassName("price-max")[0].innerHTML=ele.value;
  }
}
</script>